body {
    background-color: #191919;
}

.Logo {
    margin-top: 43px;
}

.header-line {
    display: flex;
    justify-content: center;
}

.menu {
    margin-left: 777px;
    margin-top: 46px;
    transition: 0.5s;
}

.image {
    display: block;
    transition: 1s;
}

.image:hover {
    margin: 100px;
}

.element-menu {
    text-decoration: none;
    color: #fff;
    padding-left: 30px;
    font-family: 'DM Sans', sans-serif;
    transition: 0.5s;
}

.element-menu:hover {
    color: #118DA8;
}

.continiue-header {
    padding-top: 66px;
    display: flex;
    justify-content: center;
}

.tittle {
    position: relative;
    padding-top: 300px;
    padding-left: 60px;
    display: block;
}

.first-tittle {
    font-size: 70px;
    color: #fff;
    font-family: 'DM Sans', sans-serif;
}

.last-tittle {
    font-size: 80px;
    position: absolute;
    top: 473px;
    left: 222px;
}

.tittle-listen {
    font-style: 15px;
    color: #fff;
    font-family: 'DM Sans', sans-serif;
    padding-top: 717px;
    margin-left: -400px;
}

.media-element {
    margin-left: -417px;
    padding-top: 16px;
}

.media-el {
    padding-left: 17px;
}

.block-two {
    padding-top: 93px;
}

.head-blocktwo {
    display: flex;
    justify-content: center;
}

.tittle-blocktwo {
    font-style: 64px;
    font-family: 'DM Sans', sans-serif;
    color: #fff;
    letter-spacing: 2.88px;
    padding-top: 38px;

}

.button-blocktwo {
    padding-top: 38px;
    padding-left: 609px;
}

.btn-blocktwo {
    color: #ffffff;
    font-family: 'DM Sans', sans-serif;
    font-size: 17px;
    text-decoration: none;
    background-color: #118DA8;
    padding: 12px 20px;
    border-radius: 6px;

}

.episod-3 {
    margin-top: 80px;
    display: flex;
    background-color: black;
    border-radius: 32px;
    justify-content: center;
    padding: 40px 40px;
    width: 100%;
    transition: 0.8s;
}

.episod-3:hover {
    background-color: #252525d7;
    margin-top: 60px;
}


.button-episod3 {
    padding-left: 69px;
}

.btn-episode-3 {
    color: #fff;
    font-style: 18px;
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;
    background-color: #191919;
    padding: 0px 12px;
    border-radius: 6px;

}

.epi3 {
    font-style: 17px;
    font-family: 'DM Sans', sans-serif;
    color: #118DA8;
    padding-top: 48px;
}

.tittle-episode3 {
    padding-top: 18px;
    font-size: 64px;
    font-family: 'DM Sans', sans-serif;
    color: #fff;
    line-height: 70.4px;
    letter-spacing: 2.56px;
}

.sup-tittle-epi3 {
    font-size: 22px;
    font-family: 'DM Sans', sans-serif;
    color: rgba(255, 255, 255, 0.7);
    line-height: 33px;
    padding-top: 28px;
}

.button-view-epi3 {
    padding-top: 30px;

}

.btn-view-epi3 {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
    background-color: #118DA8;
    padding: 15px 12px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.6s;
}



.btn-view-epi3:hover {
    color: #080602;
    background-color: #cc7d06;
}

.episode-2 {
    display: flex;
    margin-top: 100px;
    background-color: black;
    border-radius: 32px;
    justify-content: center;
    padding: 40px 40px;
    width: 100%;
    transition: 0.8s;
}

.episode-2:hover {
    background-color: #252525d7;
    margin-top: 60px;
}


.display-tetx {
    padding-left: 69px;
}

.btn-episode-2 {
    padding-top: 8px;

}

.btn-episode-2 {
    color: #fff;
    font-style: 18px;
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;
    background-color: #191919;
    padding: 0px 12px;
    border-radius: 6px;
}

.epi2 {
    font-style: 17px;
    font-family: 'DM Sans', sans-serif;
    color: #118DA8;
    padding-top: 48px;
}

.tittle-episode2 {
    padding-top: 18px;
    font-size: 64px;
    font-family: 'DM Sans', sans-serif;
    color: #fff;
    line-height: 70.4px;
    letter-spacing: 2.56px;
}

.sup-tittle-epi2 {
    font-size: 22px;
    font-family: 'DM Sans', sans-serif;
    color: rgba(255, 255, 255, 0.7);
    line-height: 33px;
    padding-top: 28px;
}

.btn-view-epi2 {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
    background-color: #118DA8;
    padding: 15px 12px;
    border-radius: 6px;
    transition: 0.6s;
}

.btn-view-epi2:hover {
    color: #080602;
    background-color: #cc7d06;
}


.image-episode-3 {
    margin-right: 70px;
}

.button-view-epi2 {

    border: none;
    font-size: 17px;
    color: #fff;
    border-radius: 7px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
    margin-top: 20px;
}


.image-episode-2 {
    margin-right: 70px;

}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.episode-1 {
    display: flex;
    margin-top: 100px;
    background-color: black;
    border-radius: 32px;
    justify-content: center;
    padding: 40px 40px;
    width: 100%;
    transition: 0.8s;
}

.btn-view-epi2:hover {
    color: #080602;
    background-color: #cc7d06;
}


.display-tetx {
    padding-left: 69px;
}

.btn-episode-1 {
    color: #fff;
    font-style: 18px;
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;
    background-color: #191919;
    padding: 0px 12px;
    border-radius: 6px;

}

.btn-episode-1 {
    color: #fff;
    font-style: 18px;
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;
    background-color: #191919;
    padding: 0px 12px;
    border-radius: 6px;

}

.epi1 {
    font-style: 17px;
    font-family: 'DM Sans', sans-serif;
    color: #118DA8;
    padding-top: 48px;
}

.tittle-episode1 {
    padding-top: 18px;
    font-size: 64px;
    font-family: 'DM Sans', sans-serif;
    color: #fff;
    line-height: 70.4px;
    letter-spacing: 2.56px;
}

.sup-tittle-epi1 {
    font-size: 22px;
    font-family: 'DM Sans', sans-serif;
    color: rgba(255, 255, 255, 0.7);
    line-height: 33px;
    padding-top: 28px;
}

.btn-view-epi1 {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
    background-color: #118DA8;
    padding: 15px 12px;
    border-radius: 6px;
    transition: 0.8s;
}

.btn-view-epi1:hover {
    color: #080602;
    background-color: #cc7d06;
}

.image-episode-1 {
    margin-right: 70px;
}

.button-view-epi1 {
    padding-top: 30px;

}

.block-treee {
    padding-top: 260px;
    display: flex;
    justify-content: center;
}

.arrow-image {
    padding-top: 268px;
    transition: 1s;

}

.meet {
    padding-top: 20px;
    font-style: 18px;
    color: #118DA8;
    font-family: 'DM Sans', sans-serif;
}

.arrow-tittle {
    font-family: 'DM Sans', sans-serif;
    color: #fff;
    font-size: 65px;
}

.arrow-suptittle1 {
    padding-top: 28px;
    font-size: 22px;
    font-family: 'DM Sans', sans-serif;
    color: rgba(255, 255, 255, 0.7);
}

.arrow-suptittle2 {
    padding-top: 33px;
    font-size: 22px;
    font-family: 'DM Sans', sans-serif;
    color: rgba(255, 255, 255, 0.7);
}

.man-image {
    transition: 1s;
    padding-left: 70px;
}

.contact {
    display: flex;
    background-color: black;
    width: 1300px;
    border-radius: 32px;
    justify-content: center;
    padding: 40px 40px;
    width: 1300px;
    margin-left: 85px;
    margin-top: 200px;
}

h1 {
    font-family: DM Sans;
    font-size: 72px;
    font-weight: 400;
    line-height: 79px;
    letter-spacing: 2.880000114440918px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin-right: 240px;

}

p {
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(17, 141, 168, 1);
    background-color: #191919;
    padding: 0px 12px;
    border-radius: 6px;
    margin-top: 10px;
    margin-bottom: 280px;
    margin-right: 85px;
}

.btn-view-add {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
    background-color: #118DA8;
    padding: 5px 12px;
    border-radius: 6px;

}

/* SUBSCRIBE */
.subscribe {
    width: 1300px;
    height: 387px;
    background-color: #080602;
    border-radius: 32px;
    margin-left: 70px;
    margin-top: 200px;

}

.text-button {
    color: rgba(255, 255, 255, 0.7);
    font-size: 15px;
    line-height: 28.8px;
    font-family: 'DM Sans', sans-serif;
}

.text-s {
    color: #118DA8;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    line-height: 27px;
    padding-left: 60px;
    padding-top: 60px;

}

.inputs {
    display: flex;
    flex-direction: column;
    margin-left: 700px;
    margin-top: -175px;
}

.text-ss {
    color: rgba(255, 255, 255, 1);
    font-family: 'DM Sans', sans-serif;
    font-size: 72px;
    line-height: 79px;
    padding-left: 60px;
    letter-spacing: 2.88px;
}

.bb1 {
    background-color: rgba(25, 25, 25, 1);
    border-radius: 6px;
    width: 522px;
    height: 82px;
    border-color: #191919;
    border: 1px;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-bottom: 20px;
}

.bb2 {
    background-color: rgba(25, 25, 25, 1);
    border-radius: 6px;
    width: 522px;
    height: 82px;
    border-color: #191919;
    border: 1px;
    margin-left: 0px;
    margin-top: 0px;
    padding-bottom: 10px;

}

.button-w {
    position: relative;
    display: block;
    margin-left: 1022px;
    margin-top: 20px;
    transition: 1s;
}

.button-w:hover {
    color: #080602;

    padding: 10px 10px 10px 10px;
}

.textsub {
    background-color: #118DA8;
    width: 170px;
    height: 48px;
    border-radius: 32px;
    border: #118DA8;
    transition: 0.8s;
}

.textsub:hover {
    background-color: #cc7d06;
    padding: 10px;
}

/* COMENTS */

.coment-1 {
    background-color: black;
    border-radius: 32px;
    width: 423px;
    height: 321px;
    margin-left: 80px;
    margin-top: 200px;
    transition: 1s;
}

.coment-1:hover {
    background-color: #000000d0;
    margin-top: 60px;
    margin-right: 0px;
    border-color: #ff9900;
    border-style: solid;
    padding: 10px;
}

.image-star {
    width: 18px;
    height: 17px;
    display: flex;
    padding-left: 50px;
    padding-top: 54px;
    letter-spacing: 5px;
}

.s-1 {
    padding-right: 5px;
}

.s-2 {
    padding-right: 5px;
}

.s-3 {
    padding-right: 5px;
}

.s-4 {
    padding-right: 5px;
}

.s-5 {
    padding-right: 5px;
}

.text-1-coment-1 {
    width: 313px;
    height: 130px;
    font-size: 36px;
    line-height: 43.2px;
    color: rgba(255, 255, 255, 1);
    font-family: 'DM Sans', sans-serif;
    padding-top: 20px;
    padding-left: 50px;
    text-align: left;
}

.text-2-coment-2 {
    color: rgba(255, 255, 255, 0.7);
    font-family: 'DM Sans', sans-serif;
    height: 29px;
    font-size: 24px;
    line-height: 28px;
    padding-left: 50px;
    padding-top: 18px;
    padding-bottom: 51px;
}

.coment-2 {
    background-color: black;
    border-radius: 32px;
    width: 423px;
    height: 321px;
    margin-top: 200px;
    margin-left: 16px;
    transition: 1s;
}

.coment-2:hover {
    background-color: #000000d0;
    margin-top: 60px;
    /* margin-right: 60px; */
    padding: 10px;
    border-color: #ff9900;
    border-style: solid;
    /* margin-left: 60px; */
}



.coments-f {
    display: flex;
}

.coment-3 {
    background-color: black;
    border-radius: 32px;
    width: 423px;
    height: 321px;
    margin-top: 200px;
    margin-left: 16px;
    margin-right: 85px;
    transition: 1s;
}

.coment-3:hover {
    background-color: #000000d0;
    margin-top: 60px;
    margin-right: 60px;
    border-color: #ff9900;
    border-style: solid;
    padding: 10px;
}



.coment-1-1 {
    width: 423px;
    height: 364px;
    border-radius: 32px;
    background-color: rgba(0, 0, 0, 1);
    margin-left: 85px;
    margin-top: 16px;
    transition: 1s;
}

.coment-1-1:hover {
    margin-top: 60px;
    padding: 10px;
    margin-left: 60px;
    margin-right: 0px;
    border-style: ridge;
    border-color: #cc7d06;
}

.text-1-coment-3 {
    font-size: 36px;
    line-height: 43.2px;
    color: rgba(255, 255, 255, 1);
    font-family: 'DM Sans', sans-serif;
    padding-top: 20px;
    padding-left: 50px;
    text-align: left;
}

.text-2-coment-4 {
    color: rgba(255, 255, 255, 0.7);
    font-family: 'DM Sans', sans-serif;
    height: 29px;
    font-size: 24px;
    line-height: 28px;
    padding-left: 50px;
    padding-top: 18px;
    padding-bottom: 137px;
}

.coments-s {
    display: flex;
}

.coment-1-2 {
    width: 423px;
    height: 364px;
    border-radius: 32px;
    background-color: rgba(0, 0, 0, 1);
    margin-left: 16px;
    margin-top: 16px;
    transition: 1s;
}

.coment-1-2:hover {
    margin-top: 60px;
    padding: 10px;
    margin-top: 120px;
    border-style: ridge;
    border-color: #cc7d06;
}

.coment-1-3 {
    width: 423px;
    height: 364px;
    border-radius: 32px;
    background-color: rgba(0, 0, 0, 1);
    margin-left: 16px;
    margin-top: 16px;
    transition: 1s;
}

.bb1-1 {
    font-family: 'DM Sans', sans-serif;
    color: #fff;
    font-size: 24px;
    padding-left: 20px;
    padding-top: 0px;
}

.bb2-2 {
    font-family: 'DM Sans', sans-serif;
    color: #fff;
    font-size: 24px;
    padding-left: 20px;
    padding-top: 0px;
}

.coment-1-3:hover {
    margin-top: 60px;
    padding: 10px;
    margin-top: 60px;
    border-style: ridge;
    border-color: #cc7d06;
}

.footer-menu-1 {
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    margin-left: 150px;
    margin-top: -100px;
    padding-bottom: 200px;
}

.footer-logo {
    color: rgba(255, 255, 255, 1);
    width: 224px;
    height: 46px;
    margin-top: 200px;
    margin-left: 85px;
}

.footer-icons {
    padding-top: 20px;
    margin-left: 85px;

}

.element-menu-1 {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    padding-top: 10px;
    font-family: 'DM Sans', sans-serif;
    font-size: 17px;
    line-height: 27px;
}

.footer-menu-2 {
    display: flex;
    flex-direction: column;
    margin-left: 550px;
    margin-top: -353px;
    padding-bottom: 200px;
}

.element-menu-2 {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    padding-top: 10px;
    font-family: 'DM Sans', sans-serif;
    font-size: 17px;
    line-height: 27px;
}

.media-ic {
    padding-left: 17px;
}

.footer-icons-1 {
    margin-top: -419px;
    margin-left: 666px;
}

.media-element-1 {
    margin-left: 100px;
}

.footer-block {
    display: block;

}


.container {
    max-width: 1300px;
    margin: 0 auto;
}







/* body {
    display: flex;
    height: 100vh;
  
    align-items: center;
    justify-content: center;
  }
   */
button {
    /* display: inline-block;

    width: 240px;
    height: 60px;

    border-radius: 27px;

    color: #fff;
    font: 700 14px/60px "Droid Sans", sans-serif;
    letter-spacing: 0.05em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.button .inner {
    position: relative;

    z-index: 2;
}

.button canvas {
    position: absolute;
    top: -50px;
    right: -50px;
    bottom: -50px;
    left: -50px;

    z-index: 1;
} */